blinker==1.8.2
brotli==1.1.0
contourpy==1.2.1
cycler==0.12.1
dash==2.5.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
flask==3.0.3
flask-compress==1.15
fonttools==4.51.0
importlib-metadata==7.1.0
importlib-resources==6.4.0
itsdangerous==2.2.0
kiwisolver==1.4.5
markupsafe==2.1.5
matplotlib==3.9.0
opencv-python==4.4.0.46
packaging==24.0
pandas==2.0.0
parse==1.20.1
pillow==10.0.0
plotly==5.8.2
pycocotools==2.0.7
pyparsing==3.1.2
setuptools==59.5.0
tenacity==8.3.0
torch==1.10.0
tqdm==4.66.4
typing-extensions==4.12.0
tzdata==2024.1
zipp==3.18.2
zstandard==0.22.0